BookStoreClient/Service References/ServiceReference1/BookStoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookStoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BookStoreHost/BookStoreService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BookStoreHost/BookStoreService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BookStoreHost/BookStoreService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStoreClessLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookStoreService_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_SelectBooksByParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBooksByParameters" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_SelectBooksByParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectBooksByParametersResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookStoreService">
    <wsdl:operation name="GetGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/GetGenres" message="tns:IBookStoreService_GetGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/GetGenresResponse" message="tns:IBookStoreService_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/GetAuthors" message="tns:IBookStoreService_GetAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/GetAuthorsResponse" message="tns:IBookStoreService_GetAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/GetBooks" message="tns:IBookStoreService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/GetBooksResponse" message="tns:IBookStoreService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBooksByParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/SelectBooksByParameters" message="tns:IBookStoreService_SelectBooksByParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/SelectBooksByParametersResponse" message="tns:IBookStoreService_SelectBooksByParameters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookStoreService" type="tns:IBookStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenres">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/GetGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBooksByParameters">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/SelectBooksByParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookStoreService">
    <wsdl:port name="BasicHttpBinding_IBookStoreService" binding="tns:BasicHttpBinding_IBookStoreService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BookStoreHost/BookStoreService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>